//colores principales
/* SCSS HEX */
$mint-green: #98ff96ff;
$almond: #f5e1ceff;
$black: #000000ff;
$apricot: #ffc8adff;
$lavender-blush: #f4eaf0ff;

//font
//letra de parrafos etc
//font-family: 'Courier Prime', monospace;
//letra para titulos
//font-family: 'Farsan', cursive;