@use "font";
@use "colores";
@use "globales";

.fondo {
  position: absolute;
  left: 24%;
  top: 48%;
  padding: 0%;
  padding-top: 5%;
}
//responsive de texto de fondo
@media (max-width: 768px) {
  .fondo {
    position: absolute;
    left: 0;
    top: 35%;
  }
}
.gradient-text {
  font-size: 9rem;

  color: transparent;
  background: conic-gradient(
    #5d5757e7 12%,
    #f4eaf0ff 12%,
    #f4eaf0ff 33%,
    #f5e1ceff 33%,
    #f5e1ceff 55%,
    #ffc8adff 55%,
    #ffc8adff 70%,
    #5d5757e7 70%,
    #5d5757e7 87%,
    #f7d1ba 87%
  );
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: expand-rev 0.5s ease forwards;
}
.gradient-text:hover {
  animation: expand 0.5s ease forwards;
}
//responsive de texto de fondo
@media (max-width: 768px) {
  .gradient-text {
    font-size: 6rem;
  }
}
@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 325%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}
