@use "font";
@use "colores";
@use "globales";
.nombre{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 53%;
  left: 30%;
  margin: -27px 0px 0 -49px;
}
.header-scroll-text{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  width: 600px;
  height: 55px;
  overflow:hidden;
}
ul{
  list-style:none;
  text-align:left;
  padding-left: 20px;
  margin:0;
}
ul li {
  line-height:40px;
  margin:0;
}

ul{
  margin:0;
  animation-name: header-scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;

/*   animation-direction*/
  animation-direction: normal;
  
}
@keyframes header-scroll {
  0% {transform:translateY(66%);}
  15% {transform:translateY(33%);}
  50% {transform:translateY(0%);}
  85% {transform:translateY(-33%);}
  100% {transform:translateY(-66%);}

}