@use "colores";
h1 {
    font-size: 2rem;
    color: red;
    text-align: center;
}
body {
    background-color: black;
}
.cursor {
    cursor: url("https://img.icons8.com/nolan/32/hand-cursor.png"), auto;
  }