@use "colores";
@use "font";

*,
*:after,
*:before {
  box-sizing: border-box;
}
h1 {
  padding: 2%;
  font-size: 6rem;
  text-align: center;
  font-family: font.$fuentePrincipal;
}
h2 {
  padding: 2%;
  font-size: 4rem;
}
h3 {
  padding: 2%;
  font-size: 3rem;
}
p {
  text-align: center;
  font-size: 2rem;
  font-family: font.$funteParrafos;
  padding: 2%;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem 10px*/
  height: 100%;
}

img {
  width: 800px;
  height: auto;
}
