@use "colores";
@use "font";

*,
*:after,
*:before {
  box-sizing: border-box;
}
h1 {
  padding: 2%;
  font-size: 6rem;
  text-align: center;
  font-family: font.$fuentePrincipal;
}
h2 {
  padding: 2%;
  font-size: 4rem;
}
h3 {
  padding: 2%;
  font-size: 3rem;
}
p {
  text-align: center;
  font-size: 2rem;
  font-family: font.$funteParrafos;
  padding: 2%;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem 10px*/
  height: 100%;
}

img {
  width: 500px;
  height: auto;
  
  border:0;
}
.btn {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2.5rem;
  border-radius: 50px;
  
}
.btn::after{
  content: "";

  display: block;
  width: 9px;
  height: 24px;
  overflow: hidden;
  background-image: url(#);
  transition: witch 200ms, margin-left 200ms;

}

.btn:is(:hover, :focus)::after{
  width: 24px;
  margin: left 8px; 
}
.botones{
  display: flex;
  justify-content: center;
  padding: 3%;
}
 .fotter{
  font-size: 13px;
}