/*iconos de redes sociales */
.ayuda {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 269px;
  height: 0px;
  top: 78%;
  left: 40%;
  position: fixed;
}

.icon-button {
  margin: 9%;
  width: 3.6rem;
}
@media (max-width: 768px) {
  .icon-button {
    display: inline-block;
    margin: 13px 1px 23px 6-5px;
    position: static;
    width: 3rem;
    padding-left: 15%;
    padding: 9%;
  }
}
/* Icons */
.icon-button i {
  height: 4rem;
  width: 4rem;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .icon-button i {
    z-index: 10rem;
    height: 5rem;
    width: 5rem;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
  }
}
.icon-button .icon-twitter {
  color: #5dff4074;
  background-image: url(../img/iconos/icoonosRedes/icons8-twitter-48.png);
  background-position: center;
  background-repeat: no-repeat;
}
.icon-button .icon-facebook {
  background-image: url(../img/iconos/icoonosRedes/icons8-facebook-nuevo-48.png);
  background-position: center;
  background-repeat: no-repeat;
}
.icon-button .icon-wpp-plus {
  background-image: url(../img/iconos/icoonosRedes/icons8-whatsapp-48.png);
  background-position: center;
  background-repeat: no-repeat;
}
.icon-button .icon-instagram-plus {
  background-image: url(../img/iconos/icoonosRedes/instagram.png);
  background-position: center;
  background-repeat: no-repeat;
}
.icon-button .icon-maps {
  background-image: url(../img/iconos/icoonosRedes/icons8-google-maps-48.png);
  background-position: center;
  background-repeat: no-repeat;
}
/*iconos de seccion inicio de curso*/



.social {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 25% 0px 0px 0px;
  justify-content: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 8px;
  transition: 0.5s;
  color: #D7D0BE;
 margin-top: 43px;
  margin-left: 23px;
  margin-right: 15px;
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.est1 {
  background-image: url(../img/iconos/iconosCurso/botox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  
}

.social .link.est2{
  background-image: url(../img/iconos/iconosCurso/botox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
 
}
//icono de est3
.social .link.est3 {
  background-image: url(../img/iconos/iconosCurso/botox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  
}
.logo{
  display: flex;
  justify-content: flex-start;
  position: absolute;
  background-image: url(../img/logo/logo.png);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  width: 20%;
  height: 40%;
  left: 75px;
  top: 0%;
  .vuelta{
    display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 20%;
  height: 40%;
  left: 75px;
  top: 0%;
  }
}

