/*Fondo cambio color*/
@use 'colores';
@media (prefers-color-scheme: dark) {
    :root:not(.is-light) {
      --font-color: #f4eaf0ff;
      --negro: #f4eaf0ff;
    }
  
    html:not(.is-light) body {
      background: rgb(0, 0, 0);
      color: rgb(197, 0, 0);
    }
  }
  :root.is-dark {
    --font-color: rgb(0, 0, 0);
  }
  html.is-dark body {
    background: var(--negro);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
  }
  button {
    width: 6rem;
    height: 4rem;
    background: var(--trasparente);
    border-radius: 30px;
    position: absolute;
    border: none;
  }
  .hola {
    display: flex;
    justify-content: center;
    font-family: var(--fuenteLetraPrincipal);
    font-size: 4rem;
  }
  @media (max-width: 768px) {
    .hola {
      padding: 1px;
    }
  }