@use "colores";
#whats-chat {
  position: fixed;
  right: 4%;
  bottom: 14%;
  height: auto;
  width: auto;
  background: colores.$colorIcono;
  padding: 12.5px;
  border-radius: 50px;
}
#whats-chat:hover {
  cursor: pointer;
  box-shadow: 2px 2px 15px colores.$black;
}

#chat-box {
  position: fixed;
  right: -500px;
  bottom: 18%;
  width: 270px;
  height: 270px;
  transition: all 0.98s;
  font-size: 15px;
}
#chat-top {
  width: 100%;
  line-height: 3;
  background: colores.$colorWpp;
  color: colores.$blanco;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding:0 6px;
}
#chat-msg {
  background: colores.$colorFondo2;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 25px -10px colores.$gris;
}
#chat-msg p {
  font-size: 1.5rem;
  padding: 10px;
  background: colores.$colorFondo;
  border-radius: 0 50px 50px 50px;
  margin-bottom: 20px;
}
#chat-form {
  display: flex;
}
.chat-in {
  width: 84%;
}
#chat-form input {
  border-radius: 5px 0 5px 5px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  line-height: 2;
}
#send-btn {
  width: 20%;
  padding: 0 5px;
}
#chat-top-right {
  float: right;
  padding: 5px 0;
}
#chat-box:after {
  content: "";
  position: absolute;
  top: 70%;
  left: 90.7%;
  width: 0;
  height: 0;
  border-top: 25px solid colores.$trasparente;
  border-bottom: 25px solid colores.$trasparente;

  border-right: 25px solid colores.$colorFondo2;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
