*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

h1 {
  color: rgba(0, 0, 0, 0.845);
  padding: 0;
  font-size: 6rem;
  text-align: center;
  font-family: "Cookie", cursive;
  text-shadow: 0.01em 0.1em #999;
  font-weight: 500;
}

h2 {
  padding: 2%;
  font-size: 4rem;
}

h3 {
  padding: 2%;
  font-size: 3rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem 10px*/
  height: 100%;
}

img {
  width: 500px;
  height: auto;
  background-size: 100px;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

.imagen {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 38%;
  width: 360px;
  top: 0;
}

@media (max-width: 768px) {
  .imagen {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 4.1rem;
    width: 300px;
  }
}
.botones {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-top: 53rem;
}
.botones .btn {
  width: 200px;
  align-items: center;
  font-size: 2.5rem;
  border-radius: 50px;
  border: 1px solid #999;
  background-color: transparent;
  margin-left: 2rem;
}
.botones .btn .button-1 {
  background-color: transparent;
  border: none;
  font-family: "Cookie", cursive;
  color: rgba(93, 87, 87, 0.9058823529);
}

@media (max-width: 768px) {
  .botones {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-top: 50rem;
  }
  .botones .btn {
    width: 150px;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50px;
    border: 1px solid #999;
    background-color: transparent;
    margin-left: 0.5rem;
  }
  .botones .btn .button-1 {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Cookie", cursive;
    color: rgba(93, 87, 87, 0.9058823529);
  }
}
#whats-chat {
  position: fixed;
  right: 4%;
  bottom: 14%;
  height: auto;
  width: auto;
  background: #60da8d;
  padding: 12.5px;
  border-radius: 50px;
}

#whats-chat:hover {
  cursor: pointer;
  box-shadow: 2px 2px 15px black;
}

#chat-box {
  position: fixed;
  right: -500px;
  bottom: 18%;
  width: 270px;
  height: 270px;
  transition: all 0.98s;
  font-size: 15px;
}

#chat-top {
  width: 100%;
  line-height: 3;
  background: #128c7e;
  color: #fff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 0 6px;
}

#chat-msg {
  background: #ece5dd;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 25px -10px #999;
}

#chat-msg p {
  font-size: 1.5rem;
  padding: 10px;
  background: #c8c6c6;
  border-radius: 0 50px 50px 50px;
  margin-bottom: 20px;
}

#chat-form {
  display: flex;
}

.chat-in {
  width: 84%;
}

#chat-form input {
  border-radius: 5px 0 5px 5px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  line-height: 2;
}

#send-btn {
  width: 20%;
  padding: 0 5px;
}

#chat-top-right {
  float: right;
  padding: 5px 0;
}

#chat-box:after {
  content: "";
  position: absolute;
  top: 70%;
  left: 90.7%;
  width: 0;
  height: 0;
  border-top: 25px solid rgba(0, 0, 0, 0);
  border-bottom: 25px solid rgba(0, 0, 0, 0);
  border-right: 25px solid #ece5dd;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.fondo {
  position: absolute;
  left: 24%;
  top: 48%;
  padding: 0%;
  padding-top: 5%;
}

@media (max-width: 768px) {
  .fondo {
    position: absolute;
    left: 0;
    top: 35%;
  }
}
.gradient-text {
  font-size: 9rem;
  color: transparent;
  background: conic-gradient(rgba(93, 87, 87, 0.9058823529) 12%, #f4eaf0 12%, #f4eaf0 33%, #f5e1ce 33%, #f5e1ce 55%, #ffc8ad 55%, #ffc8ad 70%, rgba(93, 87, 87, 0.9058823529) 70%, rgba(93, 87, 87, 0.9058823529) 87%, #f7d1ba 87%);
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: expand-rev 0.5s ease forwards;
}

.gradient-text:hover {
  animation: expand 0.5s ease forwards;
}

@media (max-width: 768px) {
  .gradient-text {
    font-size: 6rem;
  }
}
@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -4em;
  }
}
@keyframes expand-rev {
  0% {
    background-size: 325%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}
/*iconos de redes sociales */
.icon-button {
  display: inline-flex;
  flex-direction: column-reverse;
  margin: 0 0 5px 4px;
  position: relative;
  width: 3.6rem;
  left: 41%;
  padding-top: 5%;
}

@media (max-width: 768px) {
  .icon-button {
    display: inline-block;
    margin: 13px 1px 23px -5px;
    position: static;
    width: 3rem;
    padding-left: 15%;
    padding: 9%;
  }
}
/* Icons */
.icon-button i {
  height: 4rem;
  width: 4rem;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .icon-button i {
    z-index: 10rem;
    height: 5rem;
    width: 5rem;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
  }
}
.icon-button .icon-twitter {
  color: rgba(93, 255, 64, 0.4549019608);
  background-image: url(../img/iconos/icoonosRedes/icons8-twitter-48.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button .icon-facebook {
  background-image: url(../img/iconos/icoonosRedes/icons8-facebook-nuevo-48.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button .icon-wpp-plus {
  background-image: url(../img/iconos/icoonosRedes/icons8-whatsapp-48.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button .icon-instagram-plus {
  background-image: url(../img/iconos/icoonosRedes/instagram.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button .icon-maps {
  background-image: url(../img/iconos/icoonosRedes/icons8-google-maps-48.png);
  background-position: center;
  background-repeat: no-repeat;
}

/*iconos de seccion inicio de curso*/
.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 70rem;
  margin-top: 0;
  padding: 0%;
  left: 20%;
}

.cols {
  flex-direction: column;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  left: 70%;
}

.col {
  width: calc(20% - 6rem);
  margin: 6rem;
  cursor: pointer;
  margin-top: 0%;
}

.containerr {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background-position: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.194);
  font-size: 1.5rem;
  left: 5rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
}

.containerr:hover .front,
.containerr:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.containerr .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.containerr .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.containerr:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.containerr:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
  left: 0;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}
@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
p {
  color: #000;
  font-size: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0%;
  font-size: 5px;
  color: rgba(93, 87, 87, 0.9058823529);
  padding-top: 1%;
  position: relative;
}
.footer .foot {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    padding-top: 15%;
  }
  .footer .foot {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
