*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1 {
  color: rgba(0, 0, 0, 0.845);
  padding: 0;
  font-size: 6rem;
  text-align: center;
  font-family: "Cookie", cursive;
  text-shadow: 0.01em 0.1em #999;
  font-weight: 500;
}

h2 {
  padding: 2%;
  font-size: 4rem;
}

h3 {
  padding: 2%;
  font-size: 3rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem 10px*/
  height: 100%;
}

img {
  width: 500px;
  height: auto;
  background-size: 100px;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

.imagen {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 38%;
  width: 360px;
  top: 0;
}

@media (max-width: 768px) {
  .imagen {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 7rem;
    width: 300px;
  }
}
.botones {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 65%;
  left: 34%;
}
.botones .btn {
  width: 200px;
  align-items: center;
  font-size: 2.5rem;
  border-radius: 50px;
  border: 1px solid #999;
  background-color: transparent;
  margin-left: 2rem;
}
.botones .btn .button-1 {
  background-color: transparent;
  border: none;
  font-family: "Cookie", cursive;
  color: rgba(93, 87, 87, 0.9058823529);
}

@media (max-width: 768px) {
  .botones {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-top: 50rem;
  }
  .botones .btn {
    width: 150px;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50px;
    border: 1px solid #999;
    background-color: transparent;
    margin-left: 0.5rem;
  }
  .botones .btn .button-1 {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Cookie", cursive;
    color: rgba(93, 87, 87, 0.9058823529);
  }
}
#whats-chat {
  position: fixed;
  right: 4%;
  bottom: 14%;
  height: auto;
  width: auto;
  background: #60da8d;
  padding: 12.5px;
  border-radius: 50px;
}

#whats-chat:hover {
  cursor: pointer;
  box-shadow: 2px 2px 15px black;
}

#chat-box {
  position: fixed;
  right: -500px;
  bottom: 18%;
  width: 270px;
  height: 270px;
  transition: all 0.98s;
  font-size: 15px;
}

#chat-top {
  width: 100%;
  line-height: 3;
  background: #128c7e;
  color: #fff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 0 6px;
}

#chat-msg {
  background: #ece5dd;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 25px -10px #999;
}

#chat-msg p {
  font-size: 1.5rem;
  padding: 10px;
  background: #c8c6c6;
  border-radius: 0 50px 50px 50px;
  margin-bottom: 20px;
}

#chat-form {
  display: flex;
}

.chat-in {
  width: 84%;
}

#chat-form input {
  border-radius: 5px 0 5px 5px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  line-height: 2;
}

#send-btn {
  width: 20%;
  padding: 0 5px;
}

#chat-top-right {
  float: right;
  padding: 5px 0;
}

#chat-box:after {
  content: "";
  position: absolute;
  top: 70%;
  left: 90.7%;
  width: 0;
  height: 0;
  border-top: 25px solid rgba(0, 0, 0, 0);
  border-bottom: 25px solid rgba(0, 0, 0, 0);
  border-right: 25px solid #ece5dd;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.nombre {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 53%;
  left: 30%;
  margin: -27px 0px 0 -49px;
}
.nombre .header-scroll-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 53px;
  overflow: hidden;
}
.nombre .header-scroll-text ul {
  list-style: none;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}
.nombre .header-scroll-text ul li {
  line-height: 40px;
  margin: 0;
}

@media (max-width: 768px) {
  .nombre {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0%;
    left: 25%;
    top: 40%;
    width: 300px;
  }
  .nombre .rool {
    font-size: 27px;
  }
  .nombre .rool .header-scroll-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 40px;
    overflow: hidden;
  }
  .nombre .rool .header-scroll-text ul {
    list-style: none;
    text-align: left;
    padding-left: 2px;
    margin: 0;
  }
  .nombre .rool .header-scroll-text ul li {
    width: 100px;
    line-height: 70px;
    margin: 12px;
  }
}
/*   animation-direction*/
ul {
  margin: 0;
  animation-name: header-scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes header-scroll {
  0% {
    transform: translateY(74%);
  }
  15% {
    transform: translateY(26%);
  }
  50% {
    transform: translateY(0%);
  }
  85% {
    transform: translateY(-26%);
  }
  100% {
    transform: translateY(-74%);
  }
}
/*iconos de redes sociales */
.ayuda {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 269px;
  height: 0px;
  top: 78%;
  left: 40%;
  position: fixed;
}

.icon-button {
  margin: 9%;
  width: 3.6rem;
}

@media (max-width: 768px) {
  .icon-button {
    display: inline-block;
    margin: 13px 1px 23px 1px;
    position: static;
    width: 3rem;
    padding-left: 15%;
    padding: 9%;
  }
}
/* Icons */
.icon-button i {
  height: 4rem;
  width: 4rem;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .icon-button i {
    z-index: 10rem;
    height: 5rem;
    width: 5rem;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
  }
}
.icon-button .icon-twitter {
  color: rgba(93, 255, 64, 0.4549019608);
  background-image: url(../img/iconos/icoonosRedes/icons8-twitter-48.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button .icon-facebook {
  background-image: url(../img/iconos/icoonosRedes/icons8-facebook-nuevo-48.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button .icon-wpp-plus {
  background-image: url(../img/iconos/icoonosRedes/icons8-whatsapp-48.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button .icon-instagram-plus {
  background-image: url(../img/iconos/icoonosRedes/instagram.png);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button .icon-maps {
  background-image: url(../img/iconos/icoonosRedes/icons8-google-maps-48.png);
  background-position: center;
  background-repeat: no-repeat;
}

/*iconos de seccion inicio de curso*/
.guter {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 47%;
}

.social {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 5% 0px 0px 0px;
  justify-content: center;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .guter {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: flex-start;
    margin-top: 2%;
    margin-left: -44%;
  }
}
.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 8px;
  transition: 0.5s;
  color: #D7D0BE;
  margin-top: 34px;
  margin-left: 23px;
  margin-right: 15px;
  font-size: 70px;
}

.social .link:hover {
  padding: 20px;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.est1 {
  background-image: url(../img/iconos/iconosCurso/botox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.social .link.est2 {
  background-image: url(../img/iconos/iconosCurso/botox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.social .link.est3 {
  background-image: url(../img/iconos/iconosCurso/botox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.logo {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  background-image: url(../img/logo/logo.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20%;
  height: 40%;
  left: 75px;
  top: 0%;
}
.logo .vuelta {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 20%;
  height: 40%;
  left: 75px;
  top: 0%;
}

@media (max-width: 765px) {
  .logo {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: -7%;
    left: 1%;
    width: 100%;
    background-size: 50%;
  }
}
.info {
  width: 270px;
  height: 150px;
  background-color: rgba(31, 31, 31, 0.108);
  opacity: 0;
  margin: 0 0 0 128px;
  border-radius: 16px;
  -webkit-animation: opacity 0.1s;
}
.info .textoTitulo {
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: black;
}
.info .textoParra {
  text-align: center;
  color: black;
  font-size: 1rem;
  text-align: start;
}

div.social:hover div.info {
  opacity: 1;
  left: 12%;
}

@media (max-width: 768px) {
  .info {
    width: 200px;
    height: 150px;
  }
}
.newGuter {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-left: 23%;
}

.newSocial {
  width: 100%;
  margin: 12% 0px 0px 0px;
  justify-content: center;
}

@media (max-width: 768px) {
  .newGuter {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: flex-start;
    margin-top: 2%;
    margin-left: -44%;
  }
}
.newSocial .link1 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-clip: content-box;
  padding: 8px;
  transition: 0.5s;
  color: #D7D0BE;
  margin-top: 34px;
  margin-left: 23px;
  margin-right: 15px;
  font-size: 70px;
}

.newSocial .link1.est1 {
  background-image: url(../img/iconos/iconosCurso/botox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.newSocial .link1.est2 {
  background-image: url(../img/iconos/iconosCurso/botox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.newInfo {
  width: 400px;
  height: 300px;
  background-color: rgba(31, 31, 31, 0.108);
  opacity: 0;
  margin: 200px 0px 0 -100px;
  border-radius: 16px;
  -webkit-animation: opacity 0.1s;
}
.newInfo .newTexto {
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
  color: black;
}
.newInfo .newTextP {
  text-align: center;
  color: black;
  font-size: 2rem;
  text-align: center;
}

div.newSocial:hover div.newInfo {
  opacity: 1;
  left: 0;
}

.Newlogo {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  background-image: url(../img/logo/logo.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20%;
  height: 40%;
  left: 40%;
  top: 0%;
}
.Newlogo .Vuelta {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 20%;
  height: 40%;
  left: 75px;
  top: 0%;
}

.fot {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 40%;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0%;
  font-size: 5px;
  color: rgba(93, 87, 87, 0.9058823529);
  padding-top: 1%;
  position: relative;
}
.footer .foot {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    padding-top: 15%;
  }
  .footer .foot {
    font-size: 1.4rem;
  }
}
.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 60%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
